.main {
  .tb-th {
    width:25%;
    height:80rpx;
    line-height:80rpx;
    text-align:center;
  }

  .tb-td {
    width:25%;
    height:80rpx;
    line-height:80rpx;
    text-align:center;
    font-size: 30rpx;
  }

  .odd {
  	background: #D5E3E3;
  }

  .even {
  	background: #E3F0F0;
  }


}
