.main {
  .tb-th {
    width:25%;
    height:80rpx;
    line-height:80rpx;
    text-align:center;
  }

  .tb-td {
    width:25%;
    height:80rpx;
    line-height:80rpx;
    text-align:center;
    font-size: 30rpx;
  }

  .odd {
  	background: #D5E3E3;
  }

  .even {
  	background: #E3F0F0;
  }

  .title {
    background: #80bd01;
    text-align:center;
    height: 76rpx;
    line-height:76rpx;
    color:#fff;
    margin-top:100rpx;
  }

  .topic {
    height:76rpx;
    line-height:76rpx;
    text-align:center;
    white-space:nowrap; 
    text-overflow:ellipsis; 
    overflow: hidden;
  }


}
